<mat-card>
  <mat-card-header>
    <mat-card-title>{{'manage.manage' | translate}}</mat-card-title>
    <mat-card-subtitle>{{'manage.administrativeUnit' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="mb-3">
      <mat-form-field appearance="outline" class="col-md-6 col-lg-6 col-xl-6 float-end" >
        <mat-label>{{'common.search' | translate}}</mat-label>
        <input matInput [(ngModel)]="search.keyword" (keyup.enter)="enterSearch(0)"  type="text" placeholder="{{'common.inputSearch'| translate}}">
        <button (click)="enterSearch(0)" mat-icon-button matSuffix color="primary"><mat-icon>search</mat-icon></button>
      </mat-form-field>
    </div>
    <mtx-grid [data]="administrativeUnits"
              [rowHover]="true"
              [rowStriped]="true"
              [columns]="columns"
              [expandable]="true"
              [showPaginator]="false"
              [pageSize]="search.pageSize"
              [expansionTemplate]="expansionTpl"
              [headerTemplate]="headerTpl"
              (expansionChange)="log($event)">
    </mtx-grid>
    <ng-template #headerTpl let-col>
      <span class="fw-bold" style="color: black">{{col.header | async }}</span>
    </ng-template>
    <ng-template #expansionTpl let-row>
      <mtx-grid
        noResultText="{{'common.noResultRecord' | translate}}"
        [data]="row.children"
        [columns]="columns"
        [rowHover]="true"
        [rowStriped]="true"
        [expandable]="true"
        [pageOnFront] = "false"
        [showPaginator]="false"
        [expansionTemplate]="expansionTpl"
        [headerTemplate]="headerTpl"
        (expansionChange)="log($event)">
      </mtx-grid>
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <mat-paginator [pageSizeOptions]="pageSizeOptions"
                   showFirstLastButtons
                   [pageSize]="search.pageSize"
                   [length]="totalElement"
                   (page)="handlePageEvent($event)"
                   [pageIndex]="search.pageIndex"
    >
    </mat-paginator>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>

