<mat-card class="mat-elevation-z5">
  <mat-card-header>
    <mat-card-title>{{'importOrder.name' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="row">
    <button class="ms-4" (click)="onCreateOrUpdate(null)"  mat-fab color="primary"
            matTooltipPosition="after"
            matTooltip="{{'common.create' | translate}}">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field appearance="outline" class="col-md-3 col-lg-3 col-xl-3 float-end" >
      <mat-label>{{'common.search' | translate}}</mat-label>
      <input matInput [(ngModel)]="search.keyword" (keyup.enter)="enterSearch()"  type="text" placeholder="{{'common.inputSearch'| translate}}">
      <button (click)="enterSearch()" mat-icon-button matSuffix color="primary"><mat-icon>search</mat-icon></button>
    </mat-form-field>
    <mtx-grid [data]="rows"
              [loading]="loadingTable"
              [sortOnFront]="true"
              [rowHover]="true"
              [rowStriped]="true"
              [columns]="columns"
              [showPaginator]="false"
              [pageOnFront]="false"
              [pageSize]="search.pageSize"
              noResultText="{{'common.noEntriesFound' | translate}}"
    >
    </mtx-grid>
  </mat-card-content>
  <mat-card-actions>
    <mat-paginator [pageSizeOptions]="pageSizeOptions"
                   showFirstLastButtons
                   [pageSize]="search.pageSize"
                   [length]="totalElement"
                   (page)="handlePageEvent($event)"
                   [pageIndex]="search.pageIndex"
    ></mat-paginator>
  </mat-card-actions>
</mat-card>

