<perfect-scrollbar [config]="perfectScrollbarConfig">
  <mat-nav-list>
    <mat-list-item [routerLink]="['/dashboard']" [routerLinkActive]="['active']">
      <mat-icon matListIcon>home</mat-icon>
      <a matLine>{{'navigation.dashboard' | translate}}</a>
    </mat-list-item>
    <mat-list-item [routerLink]="['/category']" [routerLinkActive]="['active']">
      <mat-icon matListIcon>home</mat-icon>
      <a matLine>{{'navigation.category' | translate}}</a>
    </mat-list-item>
  </mat-nav-list>
</perfect-scrollbar>
