<perfect-scrollbar [config]="perfectScrollbarConfig">
 <ng-container [ngTemplateOutlet]="rootMenu"
                [ngTemplateOutletContext]="{menu: menuList, level: 0}">
  </ng-container>

  <ng-template #rootMenu let-menu="menu" let-level="level">
    <mat-nav-list>
      <ng-container *ngFor="let menu of menuList ; index as i;">
        <ng-container [ngTemplateOutlet]="menu.children ?  childMenu : parentMenu"
                      [ngTemplateOutletContext]="{menu:menu, level: level, index : i}">
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </ng-template>
  <ng-template #parentMenu let-menu="menu"  let-level="level">
    <mat-list-item (click)="setOpend(menu.text)"  class="level-{{level}}" [routerLink]="menu.routerLink" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">
      <mat-icon>{{menu.icon}}</mat-icon> {{menu.text}}
    </mat-list-item>
  </ng-template>

  <ng-template #childMenu let-menu="menu" let-level="level">
      <mat-expansion-panel  (opened)="setOpend(menu.text)"
                           [expanded]="displayOpen(menu.text)"
                           class="level-{{level}} " [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header class="specific-class">
          <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>{{menu.text}}
        </mat-expansion-panel-header>
        <ng-container *ngFor="let submenu of menu.children ; index as i;">
          <ng-container [ngTemplateOutlet]="submenu.children ?  childMenu : parentMenu"
                        [ngTemplateOutletContext]="{menu:submenu, level : level+1}">
          </ng-container>
        </ng-container>
      </mat-expansion-panel>
  </ng-template>
</perfect-scrollbar>
