.mat-list-item{
  color: white !important;
}
.mat-list-item.active{
  background-color: #393f81;
}
mat-label{
  margin-top: 6px;
}

.mat-expansion-panel{
  background-color: #3f51b5;
  color: white !important;
}

::ng-deep .mat-expansion-panel-header {
  padding: 0 16px !important;
}

::ng-deep .mat-nav-list .mat-icon {
  margin-right: 10px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important
}

::ng-deep .mat-expansion-panel-header {
  height: 48px !important;
}

::ng-deep .mat-expansion-panel .mat-list-item {
  padding-left: 15px !important;
}

::ng-deep .mat-nav-list .is-active {
  /*background-color: rgb(204, 204, 204)!important;*/
  /*border-left     : 8px solid rgb(139, 137, 133);*/
  width           : calc(100% - 8px)!important;;
}



::ng-deep .mat-list-base {
  padding-top: 0 !important;
}

::ng-deep .mat-nav-list .mat-list-item.is-active .mat-list-item-content {
  padding: 0 8px;
}

.level-1 {
  margin-left: 10px;
}
.level-2 {
  margin-left: 15px;
}
.level-3 {
  margin-left: 20px;
}

.level-4 {
  margin-left: 25px;
}

.mat-expansion-panel .mat-list-item {
  margin-left: 0;
}

