<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div *ngIf="registerValid" class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form [formGroup]="formRegister" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">

                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <mat-icon class="fa fa-mail-bulk" matSuffix></mat-icon>
                    <input matInput placeholder="Email..." formControlName="email" name="email"
                           required>
                    <mat-error>
                      {{getErrors('email')}}
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <mat-icon class="fa fa-user" matSuffix></mat-icon>
                    <input matInput placeholder="Username..." formControlName="username" name="username"
                           required>
                    <mat-error>{{getErrors('username')}}
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <mat-icon class="fa fa-lock" matSuffix></mat-icon>
                    <input matInput placeholder="Password..." formControlName="password" name="password" type="password"
                           required>
                    <mat-error>
                      {{getErrors('password')}}
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>RePassword</mat-label>
                    <mat-icon class="fa fa-key" matSuffix></mat-icon>
                    <input type="password" matInput placeholder="Repeat your password..." formControlName="confirmPassword" name="confirmPassword"
                           required>
                    <mat-error>
                      {{getErrors('confirmPassword')}}
                    </mat-error>
                  </mat-form-field>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" formControlName="confirmService" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3c">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button mat-raised-button class="btn btn-dark btn-lg btn-block"
                            [disabled]="!formRegister.valid">Register
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="/assets/images/register.webp"
                     class="img-fluid" alt="Sample image">
              </div>
            </div>
            <div *ngIf="!registerValid">
              <p>{{responseSuccess?.message}}</p>
              <a class="btn btn-success btn-lg btn-block"
                      routerLink="/login">Back to Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
