<div class="col-12 col-md-12 col-lg-12">
  <mat-card class="mat-elevation-z1">
    <mat-card-header>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-title>{{'categoryComponent.title' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6 ">
          <button (click)="onCreate()" mat-raised-button mat-button color="primary">
            <mat-label><i class="fa fa-plus"></i> {{'common.create' | translate}}</mat-label>
          </button>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 d-inline">
          <mat-form-field appearance="outline" class="col-md-12 col-lg-12 col-xl-12 float-end" >
            <mat-label>{{'categoryComponent.name' | translate}}</mat-label>
            <input matInput [(ngModel)]="search.keyword" (keyup.enter)="enterSearch(0)"  type="text" placeholder="{{'categoryComponent.inputName'| translate}}">
            <button (click)="enterSearch(1)" mat-icon-button matSuffix color="primary"><mat-icon>search</mat-icon></button>
          </mat-form-field>
        </div>
      </div>
      <div class="row mat-elevation-z8">
        <table mat-table [dataSource]="categories" class="border" >
          <ng-container matColumnDef="action">
            <th class="fw-bold" mat-header-cell *matHeaderCellDef> {{'common.action'|translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th class="fw-bold" mat-header-cell *matHeaderCellDef> {{'categoryComponent.name' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="code">
            <th class="fw-bold" mat-header-cell *matHeaderCellDef> {{'categoryComponent.code' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th class="fw-bold" mat-header-cell *matHeaderCellDef> {{'categoryComponent.description' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>
          <ng-container matColumnDef="parent">
            <th class="fw-bold" mat-header-cell *matHeaderCellDef> {{'categoryComponent.parent' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.parentId}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-paginator [pageSizeOptions]="pageSizeOptions"
                     showFirstLastButtons
                     [pageSize]="search.pageSize"
                     [length]="totalElement"
                     (page)="handlePageEvent($event)"
                     [pageIndex]="search.pageIndex"
      >
      </mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
