app-default-header{
  position: fixed;
  top: 0;
  width : 100%;
  z-index: 999999;
}
app-default-footer{
  width : 100%;
}
mat-sidenav-content{
  border: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}
mat-sidenav{
  width: 15%;
  background: #3f51b5;
  border:0;
}
.content{
  flex: 1;
}
mat-sidenav-container{
  margin-top: 64px;
}
