<app-default-header [sidenav]="sidenav" ></app-default-header>
<mat-sidenav-container class="h-100">
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true">
    <app-default-sidenav></app-default-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
<!--    <div class="bg-body m-4 card content  mat-elevation-z5">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
    <div class="content m-3">
      <router-outlet></router-outlet>
    </div>
    <app-default-footer></app-default-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
