app-default-header{
  position: fixed;
  top: 0;
  width : 100%;
}
app-default-footer{
  position: fixed;
  bottom: 0;
  width : 100%;
}
mat-sidenav-content{
  width: 90%;
  border: 0;
}
mat-sidenav{
  height: 100vh;
  background: #3f51b5;
  border:0;
  width: 10%
}
mat-sidenav-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
