<mat-toolbar color="primary">
  <button (click)="sidenav?.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon *ngIf="!sidenav?.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav?.opened">arrow_back</mat-icon>
  </button>
  <span>NuclearShop</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menuLang">
    <mat-icon>translate</mat-icon>
  </button>
  <mat-menu #menuLang="matMenu">
    <button  mat-menu-item *ngFor="let item of languages" (click)="changeLanguage(item.value)">
      <span [ngClass]="item.value == currentLanguage?'fw-bold':''">{{item.name}}</span>
    </button>
  </mat-menu>
  <mat-card style="display: none"></mat-card>
  <button *ngIf="visibleData"
    mat-button
    [matMenuTriggerFor]="menuUser"
  >
    <img *ngIf="!currentUser || !currentUser.person || !currentUser.person.photoFile || !currentUser.person.photoFile.downloadUrl" alt="avatar" src="./assets/images/no-avatar.jpg" mat-card-avatar>
    <span> {{currentUser.person.firstName}} {{currentUser.person.lastName}}</span>
  </button>

  <mat-menu #menuUser="matMenu">
    <button routerLink="/profile/overview" mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>{{ 'user.profile' | translate }}</span>
    </button>
    <button routerLink="/profile/settings" mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>{{ 'user.settings' | translate }}</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ 'user.logout' | translate }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
