/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette);
$my-warn: mat.define-palette(mat.$red-palette);
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));
@use '@ng-matero/extensions' as mtx;
@include mtx.all-component-themes($my-theme);
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~ngx-spinner/animations/timer.css';
@import '~ngx-spinner/animations/square-jelly-box.css';
@import '~ngx-toastr/toastr.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-expansion-indicator::after {
  color: white;
}
ng-scrollbar.virtual-scroll {
  --scrollbar-padding : 1px;
  --scrollbar-size: 10px;
  --scrollbar-thumb-color: gray;
  --scrollbar-hover-size: 14px;
  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
  --scrollbar-border-radius: 10px;
}
::-webkit-scrollbar {
  padding: 1px;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  width:  14px;
  height: 14px;
}

.mat-header-cell,.mat-sort-header-arrow,.mat-sort-header-indicator{
  color: black;
  font-weight: bold;
}
