/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~ngx-spinner/animations/timer.css';
@import '~ngx-spinner/animations/square-jelly-box.css';
@import '~ngx-toastr/toastr.css';
@import "~@ng-select/ng-select/themes/material.theme.css";

/*@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-expansion-indicator::after {
  color: white;
}
.ng-select.custom .ng-value-container{
  border-top-width: 18px;
}
