/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '@ng-matero/extensions' as mtx;
$my-primary: mat.define-palette(mat.$indigo-palette,800);
$my-accent: mat.define-palette(mat.$pink-palette,400);
$my-warn: mat.define-palette(mat.$red-palette,900);
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));
@include mat.core();
@include mat.all-component-themes($my-theme);
@include mtx.all-component-themes($my-theme);
@import '~ngx-spinner/animations/ball-spin-clockwise.css';
@import "assets/css/bootstrap.min.css";
@import '~ngx-toastr/toastr.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-expansion-indicator::after {
  color: white;
}
ng-scrollbar.virtual-scroll {
  --scrollbar-padding : 1px;
  --scrollbar-size: 9px;
  --scrollbar-thumb-color: gray;
  --scrollbar-hover-size: 12px;
  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
  --scrollbar-border-radius: 10px;
}
::-webkit-scrollbar {
  padding: 1px;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  width:  14px;
  height: 14px;
}

.mat-header-cell,.mat-sort-header-arrow,.mat-sort-header-indicator{
  color: black;
  font-weight: bold;
}
 .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0 0.7em 0 !important;}
 .mat-form-field-label-wrapper { top: -1.3em; }
.mat-form-field-appearance-outline .mat-form-field-flex{
  margin-top:0 !important;
}
 .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translatey(-1.1em) scale(.75);
  width: 133.33333%;
}
